<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GregsonRaevan_CE9.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>91C9E3EC1E01DD1200D8C6DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91C9E4001E01DD1300D8C6DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91C9E40B1E01DD1300D8C6DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
